
*, *::after, *::before {
	box-sizing: border-box;
}

/* for the landing image */
.landing{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

#name{
    flex-grow: 2;
}

.landing-text{
    flex: 1;
}

.social-media{
    flex: 1;
}

.form{
    flex: 1;
}

.project-img{
    flex: 1;
}

.project-text{
    flex: 1;
}

/* media quaries starts here */

@media only screen and (max-width: 1000px) {

    /* screen size smaller than 1000px show nevegation in rows*/
    .landing-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .nav-main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
        text-align: center;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .project-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .title{
        text-align: center;
    }


}

@media only screen and (min-width: 1000px) {

    /* screen size bigger than 1000px show nevegation in columns*/
    .landing-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .nav-main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        text-align: center;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .project{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        text-align: center;
    }

    .project-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
        align-items:flex-start;
        text-align: center;
    }
}