
body{
    font-family: "Quicksand-Medium", Verdana, sans-serif;
    background-color: #fcfff3;
    padding: 1rem;
}

h1{
    font-size: 1.5rem;
    font-family: "Shrikhand-Regular", Verdana, sans-serif;
    color: teal;
}

h2{
    font-size: 1rem;
    margin-bottom: 0;
}

p{
    max-width: 90vw;
}

a{
    color: teal;
    text-decoration: none;
    transition-property:color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

a:active, a:hover, a:focus{
    color: rgba(0, 128, 128, 0.495);
}

/* top main nav on the landing page */
nav{
    text-align: center;
}

#name{
    font-family: "Shrikhand-Regular", Verdana, sans-serif;
    color: teal;
    font-size: 3rem;
    text-decoration:none;
    transition-property:color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#name:active, #name:hover, #name:focus{
    color: rgba(0, 128, 128, 0.495);
}

/* landing page image */
figure{
    margin: 0;
    text-align: center;
    display: inline-block;
}

img{
    max-width: 80vw;
    border-radius: 2rem;
    text-align: center;
    display: inline-block;
}

#landing-img{
    width: 34vw;
    height: auto;
}

/* landing page image flexbox */
.landing{
    text-align: center;
}

.landing-text{
    font-size: 6vw;
    display: inline-block;
}


/* landing page bottom navigation */
.landing-nav{
    margin-top: 1rem;
}

.nav-item{
    font-size: 1.5rem;
    padding: 0.25rem;
    color:dimgray;
    text-decoration: none;
    transition-property:color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.nav-item:active, .nav-item:hover, .nav-item:focus{
    text-decoration:underline;
    color: rgba(0, 128, 128, 0.495);
}


/* Top navigation for the rest pages */
.nav-main{
    padding: 0 1rem;
    /* position: sticky;
    z-index: 100;
    border-radius: 2px;
    box-shadow: 0px 1px 10px rgb(184, 189, 182); */
}

.main{
    padding: 0 1rem;
}

/* container for about flexbox */
.container{
    margin: 1.5rem 1rem;
}

.about-text{
    max-width: 42vw;
}


/* for the main project page */
.project{
    margin-top: 0.5rem;
}

.project-img{
    position: relative;
    transition: opacity .35s ease;
}

.project-text{
    max-width: 36vw;
    margin-left: 2rem;
    text-align: left;
}

.btn{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 30%;
    text-align: center;
    /* font-size: 200%vw; */

    text-decoration: none;
    color: teal;
    padding: 0.25rem;
    background-color: #fcfff3;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity .35s ease;
}

.project-img:hover .btn {
    opacity: 1;
}

.project-img:hover{
    opacity: 70%;
}

/* for project 1*/
.iat235-landing{
    position: relative;
    text-align: center;
    transition: opacity .35s ease;
}

.iat235-landing:hover{
    opacity: 70%;
}
.iat235-landing:hover .btn {
    opacity: 1;
}

.subtitle{
    margin-left: 4rem;
}

#process-img{
    max-width: 50vw;
}

.process{margin: 1rem 4rem;}

.wireframe{
    text-align: center;
}

.process-text{
    text-align: left;
    padding: 2rem;
}

#detail-img{
    max-width: 30vw;
}

/* for project 2 */
.ifframe-container{
margin-top: 3rem;
text-align: center;
}

.title{
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

section{
    margin: 2rem 4rem;
}

.to-top{
    text-align: center;
    transition: opacity .35s ease;
}

#to-top{
    text-align: center;
    transition: opacity .35s ease;
}

#to-top:hover{
    opacity: 70%;
}

.paragraph{
    max-width: 40vw;
    text-align: left;
}

/* for the contct form */
/* I learned the contact form from
https://www.w3schools.com/howto/howto_css_contact_form.asp */
.form{
    padding: 2.5rem;
}

input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type=submit] {
    margin-top: 10px;
    background-color: teal;
    color: #fcfff3;
    padding: 12px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .35s ease;
  }
  
  input[type=submit]:hover {
    background-color: rgba(0, 128, 128, 0.495);
  }

  .icon{
    border-radius: 0;
    transition: opacity .35s ease;
    margin: 2rem;
}

.icon:hover{
    opacity: 70%;
}